body{
    margin: 0;
    padding: 0;
    background: #e74c3c;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: #c0392b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h1{
    font-size: 40px;
    margin-left: 1%;
    padding: 1%;
    font-weight: bold; 
    float: left;
}

.h1-2{
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin-left: 1%;
    padding: 1%;
}

header::after{
    content: '';
    display: block;
    clear: both;
}

.search-box{
    position: absolute;
    top: 5.5%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    
}

.search-box::after{
    content: '';
    display: block;
    clear: both;
}

.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: #fff;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    outline: none;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.main-content{
    margin-top: 7%;
}

img{
    width: 150px;
    height: 150px;
    margin: 0;
}